h1{
    background-color: transparent;
    position: absolute;
    margin-left: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div{
    text-align: center;
    justify-content: center;
    
}

a{
    text-decoration: none;
    color: rgb(93, 93, 93);
    text-align: center;
}

a:hover{
    color: rgb(120, 120, 120);
    cursor: pointer;
}